<!doctype html>
<head>
    <title>Вариант 8</title>
</head>

<body>
    <div>
        <h3 align="center">Лабораторная работа №3</h3>
    </div>
    <h4>Выберите картинку:</h4>
    <form action="" method=post enctype=multipart/form-data>
        {{ form.csrf_token }}
        <div class="mb-3">
            <p><input class="form-control" type=file  name=file id="file"></p>
            <h4>Введите уровень яркости:</h4>
            <input name="bright"/>
            <hr>
            {{form.recaptcha()}}
            <br>
            <input id="upload" class="form-control" type=submit value="Загрузить">
        </div>
    </form>
    </div>
</body>